{% extends 'base.html.twig' %}
{% block title %} Hello ArticleController{% endblock %}
{% block body %}
    <div class="container">
        <h2>Article{{ article.title }}</h2>
    </div>
    <div class="card bg-success text-white">
        <div class="card-body">
            <div>Title: {{ article.title }}</div>
            <br>
            <div>Author: {{ article.author }}</div>
            <br>
            <div>Author: {{ article.createdAt|date("F jS\\a\\t g:ia") }}</div>
            <br>
            <div>Content: <br> {{ article.content }} </div>
          {# <div class="text-white bg-white"> <a href="{{ path('update_article',{'article': article.id })}}">Edit</a></div>#}
            <div class="text-white bg-white"> <a href="{{ path('article_delete',{'article': article.id })}}">Delete</a></div>

        </div>
    </div>


{% endblock %}